<!--Montamos el login Form haciendo uso de componentes Material-->
<mat-card>
<!--Cabecera de la tarjeta-->
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Accede a tu cuenta</mat-card-subtitle>
    </mat-card-header>

    <!--Contenido de la tarjeta-->
    <mat-card-content>
        <!--Formulario de login-->
        <form [formGroup]="loginForm" (submit)="enviarFormulario()">
       
            <!--Campos del formulario-->
                <!--Email-->
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email">
                    <mat-error *ngIf="email?.errors?.['required'] && email?.touched">
                        El campo email es obligatorio
                    </mat-error>
                </mat-form-field>
                <!--Password-->
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="password?.errors?.['required'] && password?.touched">
                        Password no valido
                    </mat-error>
                    <mat-error *ngIf="password?.errors?.['pattern'] && password?.touched">
                        Password no valido
                    </mat-error>
                </mat-form-field>

                <!--Deshabilitado si la validacion da error-->
            <input type="submit" [disabled]="loginForm.invalid" mat-raised-button color="primary" value="Login">
            
        
        </form>
    </mat-card-content>
</mat-card>

