<app-nav-bar></app-nav-bar>
<div class="container">
<app-random-user [randomContact]="contact" [showRandomContact]="showRandomC"></app-random-user><!--El @Input de randomcontact [randomContact] lo igualo a contacto, que es el nombre que le he puesto en randomuserpage-->

<!--TODO quiero que desde los botones YES NO, el yes me guarde el contacto y el No genere un contacto aleatorio-->
<!--<button mat-raised-button (click)="obtenerNuevoContacto()">
    Nuevo Contacto
</button>-->

<!--
<button mat-raised-button (click)="obtenerListaContactos(5,'female')">
    Contactos Aleatorios
</button>-->
<br>
<button type="button" class="btn btn-outline-secondary" (click)="volverHome()">Volver a Home</button>
</div>
